.font {
  color: white;
  font-size: 30px;
}
/*
effects the entire page
*/
body {
  background-color: darkgray;
}

.App {
  text-align: center;
  background-position: center;
  align-items: center;
  justify-content: center;
}

.element {
  margin-block: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/*
effects the imdb images imageUrl
*/
.element img {
  width: 300px;
  height: 300px;
}

/*
effects the movie cards
*/
.element-div {
  border: 10px solid black;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  color: white;
}
/*
effects the text box
*/
input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}
/*
effects the button
*/
button {
  background-color: lightblue;
  color: black;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

