.font {
  color: white;
  font-size: 30px;
}

.App {
  text-align: center;
  background-position: center;
  align-items: center;
  justify-content: center;
}

.element {
  margin-block: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

img {
  width: 150px;
  height: 150px;
  vertical-align: middle;
}

/*
effects the text box
*/
input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}
/*
effects the button
*/
button {
  background-color: lightblue;
  color: black;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
body {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  min-height: 100vh;
}

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

header,
nav,
main,
aside,
footer {
  padding: 12px;
  text-align: center;
}

header {
  background-color: tomato;
  height: 60px;
}

.columns{
  display: flex;
  flex-grow: 1;
}

nav {
  background-color: coral;
  width: 100px;
  flex-shrink: 0;
}

main {
  background-color: moccasin;
  flex-grow: 1;
}

aside {
  background-color: sandybrown;
  width: 100px;
  flex-shrink: 0;
}

footer {
  background-color: slategray;
  height: 100px;
}
